
<div class="flex-container">
    <div> 
        <div class = "flex-header">
            <h1> Anchors </h1>   
            <mat-divider></mat-divider>
        </div>
        
        
        <div class="flex-row">
            <div class="top-left-card">
                <p> Total: 5 </p>
            </div>
            <div class="top-right-card">
                <button mat-raised-button class="dark-button">
                    Add Maps
                </button>
                <button mat-raised-button class="dark-button">
                    Edit Maps
                </button>
                <button mat-raised-button class="dark-button">
                    Delete Maps
                </button>
            </div>
        </div>
    </div>

    <div class="table-container">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <!-- Index Column -->
            <ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef> No. </th>
                <td mat-cell *matCellDef="let element"> {{element.position}} </td>
            </ng-container>
    
            <!-- Name Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>
    
            <!-- Weight Column -->
            <ng-container matColumnDef="weight">
                <th mat-header-cell *matHeaderCellDef> Weight </th>
                <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
            </ng-container>
    
            <!-- Symbol Column -->
            <ng-container matColumnDef="symbol">
                <th mat-header-cell *matHeaderCellDef> Symbol </th>
                <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
            </ng-container>
    
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
    
</div>



