
<div class="container">
    <span> 
        <h1> Anchors </h1> 
    </span>

    <mat-divider></mat-divider>
    
    <div class="row">
        <div class="top-left-card">
            <h2> Summary </h2>
        </div>
        <div class="top-right-card">
            <button mat-raised-button class="dark-button">
                Add Maps
            </button>
            <button mat-raised-button class="dark-button">
                Edit Maps
            </button>
            <button mat-raised-button class="dark-button">
                Delete Maps
            </button>
        </div>
    </div>
</div>



