
/* Application-wide Styles */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

.dark-button {
    height: 50px; 
    width: 150px;
    font-size: 110%;
}

.light-button {
    height: 50px; 
    width: 150px;
    font-size: 110%;
}

.button-row {
    display: flex;
    position: relative;
}
